.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title {
    a {
        color: #fff;
        text-decoration: none;
    }
}

a {
    color: #fff;
    text-decoration: none;
}
