.summary-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;

  margin-top: 30px;

  &__content {
    font-size: 2rem;
    font-weight: 700;
  }
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

mat-divider {
  margin: 50px 0;
}
